.btn {
  display: inline-block;
  min-width: 320px;

  background: var(--btn-background);
  border: none;
  border-radius: 50px;

  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--white);
  text-transform: capitalize;
  cursor: pointer;
  z-index: 1;

  &:hover {
    background: linear-gradient(94.97deg, #4a00e0 2.92%, #8e2de2 52.92%);
  }

  &.disabled {
    opacity: 0.65;
    background: var(--gray);
    cursor: default;
  }
}

.link {
  padding: 30px 80px;
  display: block;
  &.disabled {
    pointer-events: none;
  }
}

@media screen and (max-width: 767px) {
  .link {
    padding: 20px 60px;
  }
}
