.header {
  height: 100px;
  background: rgba(0, 0, 0, 0.2);

  position: absolute;
  width: 100%;
  z-index: 2;

  &__inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
    color: #f1ebff;

    &.homepage {
      justify-content: center;
    }
  }

  &__link {
    cursor: pointer;
    transition: all 0.15s linear;

    &:hover {
      text-decoration: underline;
    }

    &:hover .header__arrow {
      transform: translateX(-7px);
    }
  }

  &__logo {
    width: 95px;
    transform: translateY(47px);
  }

  &__arrow {
    margin-right: 10px;
    width: 28px;
    fill: var(--white);
    transition: all 0.15s linear;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 0 30px;
    &__logo {
      width: 75px;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__logo {
      width: 50px;
      transform: none;
    }
  }
}

@media screen and (max-width: 575px) {
  .header {
    &__arrow {
      width: 45px;
    }
    &__link {
      span {
        display: none;
      }
    }
  }
}
