.launch {
  color: var(--white);
  text-align: center;

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
  }

  &__start {
    margin: 0 auto;
    padding: 50px 70px;

    display: flex;
    justify-content: space-between;

    background-color: var(--purple);
    font-weight: 900;
    font-size: 76px;

    span {
      width: 120px;
      &:first-child {
        width: 140px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .launch__start {
    padding: 20px 10px;
    font-size: 55px;
  }
}

@media screen and (max-width: 575px) {
  .launch {
    &__start {
      padding: 20px 10px;
      font-size: 40px;

      span {
        width: 65px;

        &:first-child {
          width: 70px;
        }
      }
    }
    &__subtitle {
      margin-bottom: 20px;
    }
  }
}
