.launch {
  color: var(--white);
  text-align: center;

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
  }

  &__start {
    margin: 0 auto;
    padding: 50px 70px;
    max-width: 780px;

    display: flex;
    justify-content: space-between;

    background-color: var(--purple);
    font-weight: 900;
    font-size: 76px;
    line-height: 92px;

    span {
      &:first-child {
        width: 140px;
      }
      width: 120px;
    }
  }
}
