.card {
  display: block;
  margin-bottom: 50px;
  width: 580px;
  cursor: pointer;
  position: relative;

  &__header {
    position: relative;
  }

  &__title {
    margin-top: 40px;
  }

  &__tag {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
  }

  &.small {
    margin-right: 20px;
    margin-bottom: 0;
    width: 380px;
    .card__tag {
      margin: 20px 0 15px;
      position: static;
      transform: none;
    }

    .card__title {
      margin: 0;
      text-align: left;
    }
  }

  &.current {
    .card__header,
    h3 {
      opacity: 0.6;
    }

    &::after {
      content: 'Current';
      display: block;
      width: 200px;
      height: 200px;
      color: var(--totalWhite);
      font-size: 50px;
      font-weight: 700;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}

.disabled {
  pointer-events: none;
}
