.rocket {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--white);
  font-weight: 500;
  font-size: 18px;

  &__description {
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    h3 {
      span {
        font-weight: 400;
      }
    }

    :first-child {
      margin-bottom: 5px;
    }
  }
}
