.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.end {
  text-align: center;
  &__title {
    display: inline-block;
    padding: 25px 50px;
    border: 1px solid var(--white);
  }
}
