.slider {
  position: relative;
  margin-bottom: 100px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      margin-bottom: 40px;
      text-align: left;
    }

    &__navigation {
      .arrow {
        width: 56px;
        fill: var(--white);
        transition: all 0.15s linear;

        cursor: pointer;

        &:hover {
          fill: var(--purple);
        }
      }

      button:first-child {
        margin-right: 46px;
      }
    }
  }

  &__inner {
    overflow: hidden;

    &__view {
      display: flex;
      transition: transform 0.6s linear;
    }
  }
}

@media screen and (max-width: 1200px) {
  .slider {
    margin-bottom: 140px;
    &__header {
      justify-content: center;
      &__navigation {
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .slider {
    &__header {
      &__title {
        margin-bottom: 25px;
      }
      &__navigation {
        button:first-child {
          margin-right: 35px;
        }
      }
    }
  }
}
