.title {
  margin-bottom: 30px;
  text-align-last: left;
}

.description {
  margin-bottom: 50px;
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .title,
  .description {
    text-align-last: center;
  }
}
