.home {
  padding-right: 0;
  padding-left: 0;

  &__title {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 76px;
    line-height: 92px;
    color: var(--white);
  }

  &__subtitle {
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-size: 17px;
    line-height: 28px;
    color: var(--gray);
  }
}
