.title {
  margin-bottom: 30px;
  text-align: left;
}

.description {
  max-width: 595px;
  margin-bottom: 50px;
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .title,
  .description {
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .title {
    margin-bottom: 25px;
  }
  .description {
    max-width: 90%;
    margin-bottom: 35px;
  }
}
