.footer {
  padding: 80px 0;
  background-color: var(--main-layout);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 49px;
  }

  &__copyright {
    font-family: 'Roboto';
    font-size: 17px;
    color: var(--gray);
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    &__inner {
      padding: 0 25px;
    }
  }
}
