.info {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #ffffff;

    span {
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__tags {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }

  &__tag {
    margin-right: 30px;
  }
}

.feature {
  display: flex;
  &__item {
    width: 33%;
    text-align: center;
    color: var(--white);
    &__title {
      margin: 20px 0;
      font-size: 26px;
      line-height: 38px;
    }

    // &__spec {
    //   margin-bottom: 10px;
    //   display: flex;
    //   flex-direction: column;

    //   font-family: 'Roboto';
    //   font-weight: 400;
    //   font-size: 17px;
    //   line-height: 28px;
    //   color: #ffffff;
    // }

    // &__value {
    //   font-size: 16px;
    //   font-weight: 700;
    // }
  }
}
